*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    background-color: skyblue;
    width: 100%;
    clear: both;
    display: table;
    content: '';
}
h1{
    float: left;
    padding-left: 20px;
    padding-top: 15px;
    color: purple;
}
.menu{
    float: right;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu ul li{
    display: inline-block;
    font-weight: bold;
}
.menu ul li a{
    color:#444;
    display: block;
    padding: 20px;
    text-decoration: none;
}
.menu ul li a:hover{
    background-color:silver;
}
.menu ul li:hover a{
    color: purple;
}
.img2 img{
    width: 1300px;
    padding: 15px;
    float: left;
    padding-bottom: 300px;
}
img{
    display: inline-block;
    width: 30%;
    padding: 10px;
}
h2{
    padding-top: 25px;
    color: purple;
    padding-left: 15px;

}

p{
    padding: 10px;
}
footer{
    width: 100%;
    background-color: skyblue;
    margin: 0;
    padding: 8px;
    clear: both;
}
footer p{
    font-weight: bold;
    color: slateblue;
    float: right;
    padding: 1px;
}